/* BASIC STYLES */
* {
    box-sizing: border-box;
  }

  body {
    background-color: $body-bg-color;
    font-family: $font;
    padding-top: 80px;// or 82px?? 62px topbar+border 20px space between sections
    @include breakpoint (sm) {
      padding-top: 0;
      margin-top: 60px;
    }
  }
  
  section {
    margin-bottom: 22px;
    @include breakpoint (sm) {
      margin: 0;
    }
  }
  
  h1, h2, h3, h4, h5, h6, ul, ol, p, a, div {
    font-family: $font;
    color: $main-font-color;
  }
  
  a {
    text-decoration: none;
    transition: 0.2s;
  }

  p {
    font-size: $paragraph-font-size;
    color: $paragraph-color;
  }

  li {
    list-style: none;
  }

  /* CLASS TO HIDDEN LABEL IN DATE SELECT */
  .visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}