/* BASIC STYLES */
* {
    box-sizing: border-box;
  }

  body {
    background-color: $body-bg-color;
    font-family: $font;
    padding-top: 80px;// or 82px?? 62px topbar+border 20px space between sections
  }
  
  section {
    margin-bottom: 22px;
  }
  
  h1, h2, h3, h4, h5, h6, ul, ol, p, a, div {
    font-family: $font;
    color: $main-font-color;
  }
  
  a {
    text-decoration: none;
    transition: 0.2s;
  }

  p {
    font-size: $paragraph-font-size;
    color: $paragraph-color;
  }

  li {
    list-style: none;
  }