/* Colors */
$body-bg-color: #F5F5F2;
$paragraph-color: #333;
$brand-main-color: #ff0000;//wrong password
$header-font-color: #a6a6a6;
$section-bg-color: #FFF;
$sidebar-bg-color: #191919;
$sidebar-font-color: #999;
$sidebar-font-color-hover: #FFF;
$sidebar-bg-color-hover: #282828; //pomarańczowa lewa strona??
$topbar-font-color: #9c9c9c;//and icons
$topbar-hover: #F5F5F2;
$tabs-bg-color: #F3F3F1;
$tabs-blue: #80BFCA;
$tabs-orange: #FF9A38;
$tabs-green: #59B66D;
$links-color: #56819F;//one of three tabs color
$links-color-hover: #FFA200;
$btn-primary: #979797;
$btn-primary-hover: #BABABA;
$btn-secondary: #F58220;//and slider color
$btn-secondary-hover: #FFA200;
$btn-disabled: #e3e3e3;
$marked-checkbox: #04AE00;//and messenger online
$table-hover: #F1F3F3;
$positive-notification: #96CC9B;
$positive-notification-hover: #74B67A;
$negative-notification: #EC7171;
$negative-notification-hover: #DE5252;
//inputs??

/* Font sizes */
$paragraph-font-size: 14px;
$header-font-size: 16px;//sidebar,section,large link
$btn-font-size: 18px; //light
$links-font-sm: 13px;

/* Fonts */
$font: 'Roboto', sans-serif;//all content
$paragraph-font: 'Roboto', sans-serif;//light
//btn??

/* Font weights */
$font-thin: 100;
$font-light: 300;//paragraph
$font-regular: 400;
$font-medium: 500;//page header
$font-bold: 700;//rest headers
$font-black: 900;

/* Border */
$border: 1px solid #E3E3E3;