button {
    cursor: pointer;
    transition: 0.4s;
}

.btn {
    display: inline-block;
    font-size: $btn-font-size;
    padding: 10px 20px;
    font-family: $font;
    font-weight: $font-light;
    color: #FFF;
    border-radius: 3px;
    border: none;
    outline: none;
}

.btn--primary {
    background-color: $btn-primary;
    &:hover {
        background-color: $btn-primary-hover;
    } 
}

.btn--secondary {
    background-color: $btn-secondary;
    &:hover {
        background-color: $btn-secondary-hover;
    } 
}

.btn--disabled {
    background-color: $btn-disabled;
}

