.section__header-main-title {
    @include header-style;
    font-weight: $font-medium;
    text-transform: uppercase;
    padding-left: 18px;
    @include breakpoint (sm) {
        text-align: center;
        padding-left: 0;
    }
}

.header-small {
    @include header-style;
    font-weight: $font-bold;
}