.section__header-wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: $border;
    width: 100%;
}

.section__header-main {
    @include header-style;
    font-weight: $font-medium;
    text-transform: uppercase;
    padding-left: 18px;
}

.header-small {
    @include header-style;
    font-weight: $font-bold;
}