//OVERLAY
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 30px;
    display: none;
}

.overlay.show {
    display: flex;
}

.overlay::webkit-scrollbar {
    display: none;
}

//QUIT MODAL
.quit-modal.show {
    display: block;
}

.quit-modal {
    width: 360px;
    margin: auto;
    background-color: #FFF;
    position: relative;
    display: none;

    &__title {
        font-weight: $font-medium;
        padding: 25px 20px;
        border-bottom: $border;
        @include breakpoint (sm) {
            text-align: center;
        }
    }

    &__buttons {
        float: right;
        margin: 20px 20px;
        @include breakpoint (sm) {
            text-align: center;
            float: none;
        }
    }

    &__btn-quit {
        display: inline-block;
        margin-left: 20px;
        padding: 10px 31px;
    }
}

//LOGIN MODAL
.login-modal.show {
    display: block;
}

.login-modal {
    margin: auto;
    background-color: #FFF;
    position: relative;
    display: none;

    &__title {
        font-weight: $font-medium;
        padding: 12px 12px;
        border-bottom: $border;
        text-transform: uppercase;
    }

    &__form {
        display: flex;
        padding: 50px;
        @include breakpoint (sm) {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    &__btn {
        margin-left: 20px;
        padding-left: 58px;
        padding-right: 58px;
        @include breakpoint (sm) {
            margin-left: 0;
            margin-top: 20px;
            padding-left: 80px;
            padding-right: 80px;
        }
    }

    &__username {
        background: url(../images/login.svg) no-repeat;
        background-position: 10px 8px;
        padding-left: 40px;
        margin-right: 20px;
        background-size: 17px;
        font-family: $font;
        font-size: $paragraph-font-size;
        font-weight: $font-light;
        padding-top: 11px;
        padding-bottom: 11px;
        border-radius: 3px;
        border: $border;
        outline: none;
        cursor: pointer;
        @include breakpoint (sm) {
                margin-right: 0;
        }
        &:hover {
            border: 1px solid black;
        }
        &:focus {
            border: 2px solid #FF9A38;
        }
    }

    &__password {
        background: url(../images/password.svg) no-repeat;
        padding-left: 45px;
        background-position: 10px 12px;
        background-size: 22px;
        margin-right: 0;
        @extend .login-modal__username;
        @include breakpoint (sm) {
            padding-left: 40px;
        }   
    }   
}

//CHAT MODAL
.chat-modal.show {
    display: block;
}

.chat-modal {
    margin: auto;
    background-color: #FFF;
    position: relative;
    display: none;
    @include breakpoint (sm) {
        width: 100%;
    }

    &__btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 15px;
        cursor: pointer;
    }

    &__title {
        font-weight: $font-medium;
        padding: 12px 12px;
        border-bottom: $border;
        text-transform: uppercase;
    }

    &__receiver {
        display: flex;
        align-items: center;
        border-bottom: $border;
    }

    &__avatar {
        margin-left: 12px;
        @include breakpoint (sm) {
            margin-left: 2px;
        }
    }

    &__receiver-name {
       font-family: $font;
       font-size: 30px;
       font-weight: $font-medium;
       margin-left: 20px;
       margin-top: 20px;
       padding-bottom: 15px;
       position: relative;
       &::after {
           position: absolute;
           content: "online";
           background-color: $marked-checkbox;
           font-size: 13px;
           color: #FFF;
           font-family: $font;
           font-weight: $font-light;
           padding: 3px;
           padding-top: 5px;
           border-radius: 3px;
           left: 0;
           top: 37px;;
       }
    }   
    
    &__output {
        height: 300px;
        border-bottom: $border;
        display: flex;
        flex-direction: column;
        align-items: flex-start

    }

    &__output-sender {
        background-color: $tab-bg-color-hover;
        font-weight: $font-light;
        margin-left: 20px;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 3px;
        position: relative;
        @include breakpoint(sm) {
            margin-left: 10px;
            margin-right: 10px;
        }
        &::before{
            content: '';
            position: absolute;
            top: -6px;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 8px solid #F5F5F2;
            border-right: 8px solid transparent;
        }
    }

    &__output-receiver {
        background-color: $btn-primary-hover;
        color:#FFF;
        font-weight: $font-light;
        margin-left: 20px;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 3px;
        position: relative;
        @include breakpoint(sm) {
            margin-left: 10px;
            margin-right: 10px;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -6px;
            right: 0;
            width: 0;
            height: 0;
            border-top: 8px solid #bababa;
            border-left: 8px solid transparent;
        }
    }
    &__form {
        display: flex;
        padding: 20px;
        @include breakpoint (sm) {
            padding: 10px;
        }
    }

    &__message {
        background: url(../images/message.svg) no-repeat;
        background-position: 10px 16px;
        padding-left: 40px;
        margin-right: 20px;
        background-size: 17px;
        font-family: $font;
        font-size: $paragraph-font-size;
        font-weight: $font-light;
        padding-top: 17px;
        border-radius: 3px;
        border: $border;
        width: 700px;
        outline: none;
        cursor: pointer;
        &:hover {
            border: 1px solid black;
        }
        &:focus {
            border: 2px solid #FF9A38;
        }
    }

    &__btn {
        padding-left: 30px;
        padding-right: 30px;
        @include breakpoint (sm) {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 16px;
        }
    }
}