//Date selection
.statistic {
    
    &__header {
        padding-top: 14.5px;
        padding-bottom: 14.5px;
        border-bottom: $border;
    }

    &__date-selection {
        display: flex; //??flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 34.5px;
        padding-bottom: 34.5px;//height: 110px;
        border-bottom: $border;
    }

    &__date {
        color: $paragraph-color;
        font-size: $paragraph-font-size;
        padding: 7.5px;
    }

    &__icon {
        font-size: 13px;
        padding: 3px 10px 0 10px;
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }

    &__refresh-button {
        padding: 11px 12px 9px 13px;
    }

    &__button-icon {
        font-size: 15px;
        color: #FFF;
    }
}

//Statistics
.statistic {

    &__table {
       margin-top: 40px;
       justify-content: space-between;
    }

    &__small-header {
        display: flex;
        justify-content: space-between;
        width: 45%;
        border-bottom: $border;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    &__number {
        color: $paragraph-color;
        font-weight: $font-light;
    }
}

//Chart
.statistic {

    &__chart {
    margin-top: 50px;
    padding-bottom: 55px;
    }

    &__chart-header {
        margin-bottom: 40px;
        margin-top: 80px;
    }
}
    /*&__chart-buttons {
        display: flex; //??flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-bottom: 55px;
    }

     &__chart-button {
        position: relative;
        font-size: $header-font-size;
        color: $main-font-color;
        background-color:#FFF;
        padding: 10px 15px 10px 40px;
        &:hover {
            background-color: $tab-bg-color-hover;
        }
    }

    &__chart-image {
        margin-left: 20px;
    }

    &__chart-button-first::before {
        @include before-chart-buttons;
        background-color: $tab-blue;
    }


    &__chart-button-second::before {
        @include before-chart-buttons;
        background-color: $tab-orange;
    }

    &__chart-button-third::before {
        @include before-chart-buttons;
        background-color: $tab-green;
    }

}*/