//Date selection
.statistic {
    @include breakpoint (sm) {  //NARROW SIDEBAR
        display: inline-block;
    } 
    
    &__header {
        padding-top: 14.5px;
        padding-bottom: 14.5px;
        border-bottom: $border;
    }

    &__date-selection {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 34.5px;
        padding-bottom: 34.5px;//height: 110px;
        border-bottom: $border;
        @include breakpoint (sm) {
            padding-top: 18.5px;
            padding-bottom: 14.5px;
        }
    }

    &__date {
        color: $paragraph-color;
        font-size: $paragraph-font-size;
        padding: 7.5px;
        @include breakpoint (sm) {
            padding: 1.25px 0 0 0;
            font-size: 12px;
        }
    }


    &__icon {
        font-size: 13px;
        padding: 3px 10px 0 10px;
        cursor: pointer;
        &:hover {
            color: #000;
        }
        @include breakpoint (sm) {
            display: none;
        }
    }

    &__refresh-button {
        padding: 11px 12px 9px 13px;
        @include breakpoint (sm) {
            padding: 7px 9px 5px 10px;
            margin: 5px;
        }
    }

    &__button-icon {
        font-size: 15px;
        color: #FFF;
        @include breakpoint (sm) {
            font-size: 12px;
            }
        }
}

//Statistics
.statistic {

    &__table {
       margin-top: 40px;
       justify-content: space-between;
       @include breakpoint (sm) {
           margin-top: 20px;
       }
    }

    &__small-header {
        display: flex;
        justify-content: space-between;
        width: 45%;
        border-bottom: $border;
        padding-top: 20px;
        padding-bottom: 5px;
        @include breakpoint (sm) {
            width: 100%;
            margin-left: 15px;
            margin-right: 15px;
        }
        @include breakpoint (md) {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    &__number {
        color: $paragraph-color;
        font-weight: $font-light;
    }
}

//Chart
.statistic {

    &__chart {
        padding-right: 15px;
        padding-bottom: 55px;
        @include breakpoint (sm) {
            padding-bottom: 20px;
        }
    }

    &__chart-header {
        margin-bottom: 40px;
        margin-top: 80px;
        padding-left: 15px;
        @include breakpoint (sm) {
            margin-bottom: 25px;
            margin-top: 45px;
        }
    }

    &__scroll-wrapper {
        overflow-x: auto;
    }

    &__chart-wrapper {
        position: relative;
        min-width: 280px;
    }
}

body.active-menu {
    .statistic {
        @include breakpoint (sm) { //NORMAL SIDEBAR
            display: none;
        }
    }
}

    /*&__chart-buttons {
        display: flex; //??flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-bottom: 55px;
    }

     &__chart-button {
        position: relative;
        font-size: $header-font-size;
        color: $main-font-color;
        background-color:#FFF;
        padding: 10px 15px 10px 40px;
        &:hover {
            background-color: $tab-bg-color-hover;
        }
    }

    &__chart-image {
        margin-left: 20px;
    }

    &__chart-button-first::before {
        @include before-chart-buttons;
        background-color: $tab-blue;
    }


    &__chart-button-second::before {
        @include before-chart-buttons;
        background-color: $tab-orange;
    }

    &__chart-button-third::before {
        @include before-chart-buttons;
        background-color: $tab-green;
    }

}*/