//Date selection
.general-statistic {

    &__date-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 34.5px;
    padding-bottom: 34.5px;//height: 110px;
    border-bottom: $border;
    //flex-wrap: wrap;
    }

    &__date-wrapper {
        display: flex;
        align-items: center;
        border: $border;
        border-radius: 3px;
        width: 325px;
        height: 40px;
        margin-right: 14px;
    }

    &__date-from {
        color: $paragraph-color;
        font-size: $paragraph-font-size;
        width: 150px;
        border-right: $border;
        padding-left: 18px;
        padding-top: 5px;
    }

    &__date-to {
        width: 125px;
        color: $paragraph-color;
        font-size: $paragraph-font-size;
        padding-left: 18px;
        padding-top: 5px;
    }

    &__icon {
        font-size: 13px;
        padding-left: 20px;
        padding-top: 3px;
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }

    &__refresh-button {
        padding: 11px 12px 9px 13px;
    }

    &__button-icon {
        font-size: 15px;
        color: #FFF;
    }
}

//Statistics
.general-statistic {

    &__table {
       margin-top: 40px;
       justify-content: space-between;
    }

    &__single-row-wrapper {
        padding-bottom: 22px;
        flex-basis: 45%;
    }

    &__small-header {
        border-bottom: $border;
        padding-bottom: 5px;
    }

    &__stats {
        text-align: right;
        border-bottom: $border;
        color: $paragraph-color;
        padding-bottom: 5px;
    }
}

//Chart
.general-statistic {

    &__chart {
    margin-top: 50px;
    padding-bottom: 55px;
    }

    &__chart-header {
        margin-bottom: 40px;
    }

    &__chart-buttons {
        display: flex;
       //flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-bottom: 55px;
    }

    &__chart-button {
        position: relative;
        font-size: $header-font-size;
        color: $main-font-color;
        background-color:#FFF;
        padding: 10px 15px 10px 40px;
        &:hover {
            background-color: $tab-bg-color-hover;
        }
    }

    &__chart-image {
        margin-left: 20px;
    }

    &__chart-button-first::before {
        @include before-chart-buttons;
        background-color: $tab-blue;
    }


    &__chart-button-second::before {
        @include before-chart-buttons;
        background-color: $tab-orange;
    }

    &__chart-button-third::before {
        @include before-chart-buttons;
        background-color: $tab-green;
    }

}