body.active-menu { //MOBILE
    .personal-data {
        @include breakpoint (sm) {
            display: none;
        }
    }
}

.personal-data {
    @include breakpoint (sm) { //NARROW SIDEBAR
        display: inline-block;
    }

    &__header {
        @extend .statistic__header;
    }

    &__button-wrapper {
        text-align: center;
        padding-top: 23.5px;
        padding-bottom: 23.5px;  //height 87px
        
    }
}
//Rest in components form.scss