//NARROW SIDEBAR
.sidebar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 55px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $sidebar-bg-color;
    transition: 0.4s;
    @include breakpoint (sm) {
        height: 60px;
        width: 100%;
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        margin-left: 18px;
        @include breakpoint (sm) {
            justify-content: space-between;
            height: 60px;
        }
    }

    &__logo {
        display: none;
        @include breakpoint (sm) {
            display: block;
        }
    }

    &__hamburger-icon {
        font-size: 19px;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 7px;
        background-color: $sidebar-bg-color;
        border: none;
        outline: none;
        &:hover {
            color: $sidebar-font-color-hover;
        }
    }

    &__list {
        margin: 0;
        border-bottom: $border-sidebar;
        padding-left: 0px;
        padding-bottom: 24px;
        overflow: hidden;
        @include breakpoint (sm) {
            display: none;
        }
    }

    &__item {
        position: relative;
        height: 42px;
        font-size: $paragraph-font-size;  
    }

    &__link {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        align-items: center;
        padding-left: 18px;
        color: $sidebar-font-color;
        &::before {
            position: absolute;
            content: "";
            height: 100%;
            top: 0;
            left: 0;
            width: 4px;
            background-color: $btn-secondary;
            display: none;
        }
        &:hover, &:hover i {
            color: $sidebar-font-color-hover;
            background-color: $sidebar-bg-color-hover;
            &::before {
                display: inline;
            }
        }
    }
    &__icon {
        font-size: 16px;
        margin-right: 12px;
    }

    &__tab-name {
        display: none;
    }

    &__manager {
        @include breakpoint (sm) {
            display: none;
        }
    }

    &__manager-header {
        display: none;
    }

    &__manager-wrapper {
        padding-bottom: 0;
        cursor: pointer;
    }

    &__manager-photo {
        transform: scale(0.6);
        margin-left: 5px;
        &::after {
            position: absolute;
            content: "";
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $marked-checkbox;
            top: 0;
            left: 32px;
        }
    }

    &__manager-name {
        display: none;
    }
}

//NORMAL SIDEBAR
body.active-menu {
    .sidebar {
        width: 188px;
        @include breakpoint (sm) {
            width: 100vw;
            height: 100vh;
        }

        &__list {
            @include breakpoint (sm) {
                padding-bottom: 5px;
                display: block;
            }
        }
        
        &__logo {
            display: block;
        }

        &__logo-wrapper {
            justify-content: space-between;
        }
        
        &__tab-name {
            display: inline-block;
        }

        &__manager {
            @include breakpoint (sm) {
                display: block;
            }
        }

        &__manager-header {
            display: inline-block;
            text-transform: uppercase;
            color: #808080;
            margin-left: 18px;
            margin-top: 25px;
            margin-bottom: 15px;
            font-size: $paragraph-font-size;
            font-weight: $font-medium;
            @include breakpoint (sm) {
                margin-top: 5px;
            }
        }
        
        &__manager-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
                background-color: $sidebar-bg-color-hover;
            }
            &:hover {
                .sidebar__manager-name {
                    color: $link-color-hover;
                }
            }
            @include breakpoint (sm) {
                padding-bottom: 5px;
                border-bottom: $border-sidebar;
                margin-bottom: 7px;
                &:hover {
                    background-color: $sidebar-bg-color;
                }
                &:hover {
                    .sidebar__manager-name {
                        color: $link-color;
                    }
                }
            }
        }

        &__manager-photo {
            display: flex;
            margin-left: 20px;
            transform: scale(1);
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: $marked-checkbox;
                top: 0;
                left: 32px;
            }
        }

        &__manager-name {
            display: block;
            @include link-style-lg;
            transition: 0.2s;
            text-transform: capitalize;
            margin-left: 10px;
            font-size: $paragraph-font-size;
        }
    }
}

