.header {
    &__list {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    padding-right: 0;
    margin-bottom: 0;
    border-bottom: $border;
    color: $icon-color;
    background-color: $section-bg-color;
    @include breakpoint (md) {
        position: fixed;
        top: 0;
        overflow: hidden;
        height: 60px;
    }
    @include breakpoint (sm) {
        display: none;
    }
}

    &__button {
        border: none;
        outline: none;
        background-color: #FFF;
        transition: 0.4s;
        &:hover {
            background-color: $menu-buttons-hover;
        }
        &:hover i, &:hover span {
            color: #000;
        }
    }

    &__wallet {
        border-left: $border;
        border-right: $border;
    }

    &__wallet-button {
        padding: 18px;
    }

    &__wallet-icon {
        font-size: 18px;
    }

    &__money {
        font-size: 20px;
        color: $topbar-font-color;
        font-weight: $font-medium;
        padding-left: 14px;
        padding-right: 15px;
        transition: 0.4s;
        @include breakpoint (sm) {
            display: none;
        }
    }

    &__arrow-icon {
        font-size: 12px;
        @include breakpoint (sm) {
            display: none;
        }
    }

    &__notification {
        border-right: $border;
    }

    &__notification-button {
        padding: 20px;
        position: relative;
    }

    &__notification-icon {
        font-size: 17px;
        &::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            background-color: $btn-secondary;
            border-radius: 50%;
            top: 17px;
            right: 20px;
        }
    }
    
    &__profile {
        border-right: $border;
        display: flex;
        align-items: center;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
            background-color: $menu-buttons-hover;
        }
        &:hover i {
            color: #000;
        }
        &:hover {
            .header__profile-name {
                color: $link-color-hover;
            }
        }
    }
    &__profile-button {
        padding: 20px;
        display: flex;
        align-items: center;
        @include breakpoint (sm) {
            padding: 12px 15px 12px 18px;
        }
    }

    &__profile-icon {
        font-size: 17px;
    }

    &__profile-name {
        padding-left: 12px;
        text-transform: capitalize;
        transition: .4s;
        @include breakpoint (sm) {
            display: none;
        }
    }

    &__quit-button {
        padding: 20px 20px 16px 21px;
    }

    &__quit-icon {
        font-size: 19px;
    }
}

body.active-menu {
    .header {
        &__list {
            padding-right: 0;
            @include breakpoint (sm) {
                display: flex;
                position: static;
                flex-wrap: wrap;
                margin: 0;
                width: 100%;
                flex-direction: column;
                padding-left: 0;
                border: none;
                background-color: $sidebar-bg-color;
                justify-content: flex-start;
            }
        }

        &__button {
            @include breakpoint (sm) {
                background-color: $sidebar-bg-color;
                &:hover {
                    background-color: none;
                }
                &:hover i, &:hover span {
                    color: $icon-color;
                }
            }
        }

        &__wallet {
            @include breakpoint (sm) {
                border: none;
            }
        }

        &__wallet-button {
            @include breakpoint (sm) {
                padding: 12px 18px;
            }
        }

        &__notification {
            @include breakpoint (sm) {
                border: none;
            }
        }

        &__notification-button {
            @include breakpoint (sm) {
                padding: 12px 18px;
            }
        }

        &__notification-icon {
            @include breakpoint (sm) {
                font-size: 16px;
                &::after {
                    top: 9px;
                    right: 18px;
                    width: 7px;
                    height: 7px;
                }
            }
        }

        &__wallet-icon {
            @include breakpoint (sm) {
                font-size: 16px;
            }
        }

        &__money {
            @include breakpoint (sm) {
                display: inline-block;
                font-size: 18px;
            }
        }

        &__profile {
            @include breakpoint (sm) {
                border: none;
                &:hover {
                    background-color: $sidebar-bg-color;
                }
                &:hover i {
                    color: $icon-color;
                }
                &:hover {
                    .header__profile-name {
                        color: $link-color;
                    }
                }
            }
        }

        &__profile-name {
            @include breakpoint (sm) {
                display: block;
                font-size: $paragraph-font-size;
            }
        }

        &__profile-icon {
            @include breakpoint (sm) {
                font-size: 16px;
            }
        }

        &__quit-button {
            @include breakpoint (sm) {
                padding: 12px 20px;
                text-align: left;
            }
        }

        &__quit-icon {
            @include breakpoint (sm) {
                font-size: 18px;
            }
        }
    }

}